<h1>New Entry</h1>

<%= render :partial => 'form',:locals => { :entry => @entry } %>
<%= link_to 'Back', entries_path %>
<script>
$(document).ready(function(){
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      $("#error_explanation").append("Geolocation is not supported by this browser.")
    }
}
  getLocation();
function showPosition(position) {
    $("#entry_latitude").attr("value",position.coords.latitude)
    $("#entry_longitude").attr("value",position.coords.longitude)

}
});
</script>