<!-- <footer class="footer h-footer">
      <div class="container">
      <div class="row">
              <ul class = "nav navbar-nav">
              <li>
              <%#= link_to "Tagore Garden Wala", root_path%>
              </li>
              <li>
              <%#= link_to "About Us", about_us_path%>

              </li>
              <li>
              <%#= link_to "Contact Us", contact_us_path%>
              </li>
              <li>
              <%#= link_to "Faqs", root_path%>
              </li>
              <li>
              <%#= link_to "Help Us", root_path%>
              </li>
              <li>
              <%#= link_to "Forum", root_path%>
              </li>
              <li>
              <%#= link_to "Queries", root_path%>
              </li>
              <li>
              <%#= link_to "Suggestions", root_path%>
              </li>
              <li>
                    <div id="follow" style="width:250px;margin:0 auto; border:none!important;"> 
<a class="facebook" href="#" rel="nofollow" title="Follow me on Facebook">Facebook</a> 
<a class="twitter" href="#" rel="nofollow" title="Follow me on Twitter">Twitter</a> 
<a class="gplus" href="#" rel="nofollow" title="Follow me on Google Plus">Google Plus</a> 
 <a class="rss" href="http://feeds.feedburner.com/iamshemul" rel="nofollow" title="Subscribe To RSS">Subscribe To RSS</a> 
<a class="tube" href="http://www.youtube.com/user/shemul49rmc" rel="nofollow" title="Follow me on YouTube">YouTube</a> 
</div> 
              </li>
    
              </ul>

      </div>
        <div class="row">

           &copy; 2016 Tagore Garden Wala
     
                    <div class="pull-right">
                    made with <%#=image_tag("love.jpg", height: '32', width: '32')%>
 in india
                     </div>
        </div>
      </div>
<%#= render partial: "shared/google_analytics_pageview" %>

</footer> -->