
<style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('/assets/search_bar.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
<% content_for :title do %>Tagore Garden Wala|All about Tagore Garden<% end %>
 
<%= form_tag(search_path, method: 'get',remote:true) do %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag('Search') %>
<% end %>
<div class="center">
  <%= render :partial => 'home' %>
</div>
 <%#= google_adsense_include_tag client: 'ca-pub-2314450325724265', slot: '6642889430'%>

