div.columns       { width: 1300px; }
/*div.columns div   { width: 433.33px; height: 400px; float: left; }*/
div.grey          { background-color: #cccccc; }
div.red           { background-color: #e14e32; }
div.clear         { clear: both; }

.box{width: 380px; height: 300px;padding-right: 10px;float:left}
.hotel{background: url(/assets/hotel.jpeg) center no-repeat;}
.doctor{background: url(/assets/doctor.png) center no-repeat;}
.tailor{background: url(/assets/tailor.png) center no-repeat;}
.electrician{background: url(/assets/electrician.jpeg) center no-repeat;}
.chemist{background: url(/assets/chemist.jpg) center no-repeat;}
.parlour{background: url(/assets/parlour.jpg) center no-repeat;}
.grocery{background: url(/assets/grocery.jpeg) center no-repeat;}
.bank{background: url(/assets/bank.jpeg) center no-repeat;}
.bakery{background: url(/assets/bakery.jpeg) center no-repeat; }


.photo_studio{background: url(/assets/photo_studio.jpg) center no-repeat; }
.photocopy{background: url(/assets/photocopy.jpg) center no-repeat; }
.diary{background: url(/assets/diary_shops.jpg) center no-repeat; }
.dry_cleaner{background: url(/assets/dry_cleaning.jpeg) center no-repeat; }
.stationery{background: url(/assets/office-stationary.jpg) center no-repeat; }
.jewellers{background: url(/assets/jewellery.jpg) center no-repeat; }
.clothing{background: url(/assets/clothing.jpg) center no-repeat; }
.phone_recharge{background: url(/assets/phone_recharge.jpeg) center no-repeat; }
.opticals{background: url(/assets/opticals.jpg) center no-repeat; }
.juice{background: url(/assets/juice.jpg) center no-repeat; }
.kids_school{background: url(/assets/kidschool.jpg) center no-repeat; }
.footwear{background: url(/assets/footwear.jpg) center no-repeat; }
.toy{background: url(/assets/toy_shop.jpg) center no-repeat; }
.park{background: url(/assets/parks.jpg) center no-repeat; }
.grievance{background: url(/assets/grievance.jpg) center no-repeat; }
.cosmetics{background: url(/assets/cosmetics.jpeg) center no-repeat; }
.lawyer{background: url(/assets/lawyers.jpg) center no-repeat; }
.gym{background: url(/assets/gym.jpg) center no-repeat; }
.atm{background: url(/assets/atm.jpg) center no-repeat; }
.government{background: url(/assets/govt_offices.jpg) center no-repeat; }
.religious_places{background: url(/assets/religious.png) center no-repeat; }
.plumber{background: url(/assets/plumbers.png) center no-repeat; }
.painter{background: url(/assets/painters.jpg) center no-repeat; }
.gardner{background: url(/assets/gardner.jpg) center no-repeat; }
.cobbler{background: url(/assets/cobbler.jpg) center no-repeat; }
.sweet{background: url(/assets/sweet_shop.jpg) center no-repeat; }
.engineer{background: url(/assets/engineer.jpg) center no-repeat; }
.star{background: url(/assets/star.png) center no-repeat; }
.architect{background: url(/assets/architect.png) center no-repeat; }
.update{background: url(/assets/updates.png) center no-repeat; }
.welder{background: url(/assets/welder.jpg) center no-repeat; }
.furniture{background: url(/assets/furniture.jpg) center no-repeat; }
.sanitary{background: url(/assets/sanitary.jpg) center no-repeat; }
.event{background: url(/assets/events.png) center no-repeat; }
.courier{background: url(/assets/courier.jpg) center no-repeat; }
.tutor{background: url(/assets/tutor.png) center no-repeat; }





.box h3{ position: relative;top:240px;color:#3300FF;}
@media (min-width: 768px) and (max-width: 1280px) {
.box{width: 150px; height: 200px;padding-right: 15px;float:left}
.box h3{ position: relative;top:190px;font-size:10px;color:#3300FF;}

}