.left-div {
    /*float: left;*/
    /*max-width:100em;*/
    width: 50em;
    height: 45em;
    top:0;
    /*padding-right: 8px;*/
}
.right-div {
    /*float: left;*/
    margin-left: 2em;
    background-color:#00FFEA;
}
@media (max-width: 768px) {
.left-div {
    /*float: left;*/
    /*max-width:100em;*/
    width: 25em;
    height: 25em;
    top:0;
    /*padding-right: 8px;*/
}
.right-div {
    /*float: left;*/
    margin-left: 1em;
    height: auto;
    width: 25em;
    background-color:#00FFEA;
}
}
