 <% if reviews.present?%>
        <%reviews.each do |r|%>
  Review</br>
  <%=r.content%></br>
  Rating</br>
<div class="fixed" data-score=<%=r.rating%>></div>
    <%#= social_share_button_tag(r.content,desc:"#{r.content}",:image=>asset_path("hotel.jpeg", image),'data-facebook-title' => 'TheTitleForFacebook') %>
<%#= social_share_button_tag(r.content, :rel => "twipsy") %>
<%#= social_share_button_tag(r.content, :url => "http://wwww.tagoregardenwala.co.in/home", :image => "http://www.etonline.com/news/2014/11/24116153/set_barbie_640.jpg", desc: "The summary of page", via: "MyTwitterName",'data-facebook-title' => 'TheTitleForFBB') %>
<%= social_share_button_tag(r.content, 'data-facebook-title' => 'TheTitleForTwitter') %>
<a href=" http://www.facebook.com/sharer.php?s=100&p[title]='Review For Durga South Indian Shop %21&p[url]=http://www.tagoregardenwala.co.in/&p[summary]=Best South Indian Restraunt in tagore garden wala&p[images][0]=http://hellopodium.com/static/images/facebook.v2.png">Facebook</a>
        <%end%>

<%end%>
<script type="text/javascript">
$('.fixed').raty({
  readOnly : true,
  score: function() {
    return $(this).attr('data-score');
  },
      path:  '/assets/'

});</script>