 <% if reviews.present?%>
        <%reviews.each do |r|%>
  Review</br>
  <%=r.content%></br>
  Rating</br>
<div class="fixed" data-score=<%=r.rating%>></div>
    <%#= social_share_button_tag(r.content,desc:"#{r.content}",:image=>asset_path("hotel.jpeg", image),'data-facebook-title' => 'TheTitleForFacebook') %>
<%#= social_share_button_tag(r.content, :rel => "twipsy") %>
<%= social_share_button_tag(r.content, :url => "http://tagoregardenwala.co.in/home", :image => "http://www.etonline.com/news/2014/11/24116153/set_barbie_640.jpg", desc: "The summary of page", via: "MyTwitterName",'data-facebook-title' => 'TheTitleForFBB') %>

        <%end%>

<%end%>
<script type="text/javascript">
$('.fixed').raty({
  readOnly : true,
  score: function() {
    return $(this).attr('data-score');
  },
      path:  '/assets/'

});</script>